USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 2024-09-04 2:40:49 PM ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[Chambre]    Script Date: 2024-09-04 2:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chambre](
	[CHA_roomNumber] [smallint] NOT NULL,
	[CHA_otherInfo] [nvarchar](max) NULL,
	[CHA_availability] [bit] NOT NULL,
	[fk_PKTYP_id] [uniqueidentifier] NOT NULL,
	[PKCHA_roomID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Chambre] PRIMARY KEY CLUSTERED 
(
	[PKCHA_roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2024-09-04 2:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[CLI_nom] [varchar](50) NOT NULL,
	[CLI_prenom] [varchar](50) NOT NULL,
	[CLI_adresse] [varchar](100) NOT NULL,
	[CLI_mobile] [char](15) NOT NULL,
	[CLI_motDePasse] [char](60) NOT NULL,
	[CLI_courriel] [varchar](50) NOT NULL,
	[PKCLI_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[PKCLI_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2024-09-04 2:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[RES_startDate] [datetime] NOT NULL,
	[RES_endDate] [datetime] NOT NULL,
	[RES_pricePerDay] [money] NOT NULL,
	[RES_infoReservation] [varchar](max) NOT NULL,
	[PKRES_id] [uniqueidentifier] NOT NULL,
	[fk_PKCLI_id] [uniqueidentifier] NOT NULL,
	[fk_PKCHA_roomID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[PKRES_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Chambre]    Script Date: 2024-09-04 2:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Chambre](
	[TYP_maxPrice] [money] NULL,
	[TYP_minPrice] [money] NULL,
	[TYP_description] [varchar](200) NULL,
	[TYP_name] [varchar](50) NULL,
	[PKTYP_id] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
